.footer-wrapper {
  background-color: $black;

  footer {
    text-align: center;
    padding: 40px 0;
    color: $white;

    a {
      color: $white;

      &:hover, &:focus {
        color: $white;
        text-decoration: none;
      }
    }

    .icons {
      font-size: 40px;
    }
  }

  .image-host {
    display: inline-block;
    height: 25px;
    width: 180px;
    background: url(../images/hospedadocomamor_negativo.png) no-repeat center;
    background-size: auto 25px;
    margin-top: 25px;
  }
}
