h1, h2, h3, h4, h5, h6 {
  color: $black;
  margin: 30px 0px 10px 0px;
}

a {
  color: $black;

  &:hover, &:focus, &:active {
    color: $black;
    text-decoration: none;
  }
}

p a {
  border-bottom: 1px solid grayscale(400);

  &:hover, &:focus, &:active {
    border-bottom: 1px solid $black;
  }
}

hr {
  margin-top: 40px;
}

pre {
  color: $white;
  margin: 30px 0;
  padding: 5px 7px;
  background-color: grayscale(900);
}

img, .embedded-video {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.embedded-video {
  height: 480px;

  @include media-breakpoint-down(sm) {
    height: 215px;
  }
}

.a2akit-container {
  margin: 30px 0;
}
