h1 {
  color: $black;
  margin: 2.5rem 0 0.2rem 0;
}

h2, h3, h4, h5, h6 {
  color: $black;
  margin: 1.5rem 0 1rem 0;
}

a {
  color: $black;

  &:hover, &:focus, &:active {
    color: $black;
    text-decoration: none;
  }
}

p a {
  border-bottom: 1px solid gray("400");

  &:hover, &:focus, &:active {
    border-bottom: 1px solid $black;
  }
}

hr {
  margin-top: 40px;
}

pre {
  color: $white;
  margin: 30px 0;
  padding: 5px 7px;
  background-color: gray("900");

  a {
    color: inherit;
  }
}

img, .embedded-video {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.title-me {
  margin-bottom: 2rem;
}

.meta {
  font-size: 0.8rem;
  color: gray("600");
  margin-bottom: 2rem;

  .license {
    color: gray("900");
  }
}

.page {
  margin-bottom: 60px;
}

.embedded-video {
  height: 480px;

  @include media-breakpoint-down(sm) {
    height: 215px;
  }
}

.a2akit-container {
  margin: 30px 0;
}
