.license {
  text-align: center;
  padding: 20px 0;

  a {
    border-bottom: 1px solid gray(400);

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $black;
    }
  }

  img {
    width: auto;
    border-radius: 0;
    margin: 0;
  }
}
