@import "fonts";

/* set custom fonts */
$fa-font-path: "~font-awesome/fonts";

$font-family-sans-serif: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: Inconsolata, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-weight-light: 300;
$font-weight-normal: $font-weight-light;
$font-weight-bold: bold;

$font-weight-base: $font-weight-normal;
$headings-font-weight: 600;

$font-size-base: 0.85rem; // Assumes the browser default, typically `16px`

$h1-font-size: 2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.0rem;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$theme-colors: (
  primary: $black,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

/* load font awesome */
@import "~font-awesome/scss/font-awesome";

/* load bootstrap */
@import "~bootstrap/scss/bootstrap";

/* my styles */

html {
  font-weight: $lead-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  margin: 40px 0px 10px 0px;
}

a {
  color: $black;

  &:hover, &:focus, &:active {
    color: $black;
    text-decoration: none;
  }
}

p a {
  border-bottom: 1px solid grayscale(400);

  &:hover, &:focus, &:active {
    border-bottom: 1px solid $black;
  }
}

hr {
  margin-top: 40px;
}

header {
  padding-top: 30px;
  text-align: center;

  h1 {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
  }

  .rounded-circle {
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 5px solid $black;
  }
}

img, .embedded-video {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px grayscale(400);

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.embedded-video {
  height: 480px;

  @include media-breakpoint-down(sm) {
    height: 215px;
  }
}

pre {
  color: $white;
  margin: 30px 0;
  padding: 5px 7px;
  background-color: grayscale(900);
  border-radius: 5px;
  box-shadow: 0px 0px 20px grayscale(600);
}

.pagination {
  text-align: center;
}

.footer-wrapper {
  background-color: $black;

  footer {
    text-align: center;
    padding: 40px 0;
    color: $white;

    a {
      color: $white;

      &:hover, &:focus {
        color: $white;
        text-decoration: none;
      }
    }

    .icons {
      font-size: 40px;
    }
  }
}

.a2akit-container {
  margin: 30px 0;
}

.admonition {
  @extend .alert;

  p {
    margin-bottom: 0;
  }
}

.admonition-note {
  @extend .alert-success;

  a {
    color: theme-color("success");
    border: 1px solid lighten(theme-color("success"), 30%);

    &:hover, &:focus, &:active {
      color: theme-color("success");
      border: 1px solid theme-color("success");
    }
  }
}

.admonition-info {
  @extend .alert-warning;

  a {
    color: theme-color("warning");
    border: 1px solid lighten(theme-color("warning"), 30%);

    &:hover, &:focus, &:active {
      color: theme-color("warning");
      border: 1px solid theme-color("warning");
    }
  }
}

.admonition-tip {
  @extend .alert-info;

  a {
    color: theme-color("info");
    border-bottom: 1px solid lighten(theme-color("info"), 30%);

    &:hover, &:focus, &:active {
      color: theme-color("info");
      border-bottom: 1px solid theme-color("info");
    }
  }
}

.admonition-warning {
  @extend .alert-danger;

  a {
    color: theme-color("danger");
    border-bottom: 1px solid lighten(theme-color("danger"), 30%);

    &:hover, &:focus, &:active {
      color: theme-color("danger");
      border-bottom: 1px solid theme-color("danger");
    }
  }
}

.block-404 {
  text-align: center;
  padding: 50px 0;

  h2, .btn {
    margin: 50px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.license {
  text-align: center;
  padding: 20px 0;

  a {
    border-bottom: 1px solid grayscale(400);

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $black;
    }
  }

  img {
    width: auto;
    border-radius: 0;
    margin: 0;
  }
}
