{% macro render_pagination(pagination, alt) %}
  <div class="paginate">
    {% if pagination.has_prev %}
    <a href="{{ pagination.prev|url }}"><i class="fa fa-angle-double-left"></i> {{ bag('translation', alt, 'previous') }}</a>
    {% else %}
    <span class="disabled"><i class="fa fa-angle-double-left"></i> {{ bag('translation', alt, 'previous') }}</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">{{ bag('translation', alt, 'next') }} <i class="fa fa-angle-double-right"></i></a>
    {% else %}
    <span class="disabled">{{ bag('translation', alt, 'next') }} <i class="fa fa-angle-double-right"></i></span>
    {% endif %}
  </div>
{% endmacro %}
