{% macro render_project(project, from_index=false) %}
  <div class="project">
    {% if from_index %}
      <h1><a href="{{ project.repository }}">{{ project.title }}</a></h1>
    {% else %}
      <h1>{{ project.title }}</h1>
    {% endif %}

    <p class="meta">
      <b>Licença:</b> <span class="license">{{ project.license }}</span>

      <br>

      <b>Repositório:</b> <a href="{{ project.repository }}">{{ project.repository }}</a>
    </p>

    <p>{{ project.summary }}</p>

    {% if not from_index %}
      <meta http-equiv="refresh" content="0;url={{ project.repository }}">
    {% endif %}
  </div>
{% endmacro %}
