{% extends "layout.html" %}

{% block json_ld %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "{{ config.PROJECT.author }}",
      "url": "{{ '/sobre'|url(external=True, alt=this.alt) }}",
      "jobTitle": "{{ bag('translation', this.alt, 'job_title') }}",
      "gender": "{{ config.PROJECT.gender }}",
      "image": "{{ config.PROJECT.logo|url(external=True) }}",
      "sameAs": [
        "https://github.com/{{ config.PROJECT.github }}/",
        "https://www.linkedin.com/in/{{ config.PROJECT.linkedin }}/"
      ]
    }
  </script>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block content %}
  <h2 class='title-me'>{{ this.title }}</h2>

  {{ this.body }}
{% endblock %}
