{% extends "layout.html" %}

{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}Blog{% endblock %}

{% block json_ld %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Blog",
      "author": {
        "@type": "Person",
        "name": "{{ config.PROJECT.author }}",
        "url": "{{ '/sobre'|url(external=True, alt=this.alt) }}"
      },
      "blogPost": [
        {% for child in this.pagination.items %}
          {
            "@type": "BlogPosting",
            "headline": "{{ child.title }}",
            "url": "{{ child|url(external=true, alt=this.alt) }}",
            "datePublished": "{{ child.pub_date }}",
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  </script>
{% endblock %}

{% block content %}
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
    <hr>
  {% endfor %}

  {{ render_pagination(this.pagination, this.alt) }}
{% endblock %}
