{% extends "layout.html" %}

{% from "macros/blog.html" import render_blog_post %}

{% block title %}{{ this.title }}{% endblock %}

{% block json_ld %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ this.title }}",
      "url": "{{ this|url(external=true, alt=this.alt) }}",
      "datePublished": "{{ this.pub_date }}",
      "image": {
        "@type": "ImageObject",
        {% if this.share_image %}
          "url": "{{ this.share_image|url(external=True, alt='pt-br') }}",
        {% else %}
          "url": "{{ config.PROJECT.logo|url(external=True) }}",
        {% endif %}
      },
      "author": {
        "@type": "Person",
        "name": "{{ config.PROJECT.author }}",
        "url": "{{ '/sobre'|url(external=True, alt=this.alt) }}"
      }
    }
  </script>
{% endblock %}

{% block content %}
  {{ render_blog_post(this) }}

  <div class="license">{{ render_cc_license('by-sa', locale=bag('translation', this.alt, 'this_locale')) }}</div>

  <div class="comments">{{ render_disqus_comments() }}</div>
{% endblock %}
