{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="container curriculum">
    <div class="row">
      <div class="mx-auto col-md-8 col-sm-12 d-print-none">
        <ul class="nav justify-content-end alternatives">
          {% for alt in get_alts(this) %}
            {% if alt != this.alt %}
              <li><a href="{{ '.'|url(alt=alt) }}">{{ alt }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="col-12">
        <header>
          <h1>
            <a href="{{ '/'|url(alt=this.alt) }}">{{ this.name }}</a>
          </h1>

          <p>
            {{ this.job }} | <a href="{{ this.location_link }}">{{ this.location_name }}</a>
          </p>
        </header>
      </div>
    </div>

    <div class="row content">
      <div class="col-12 col-md-4 offset-md-1 order-1 order-md-0">
        <div class="row">
          <div class="col-12 section">
            <h2>{{ bag('translation', this.alt, 'contact') }}</h2>

            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:{{ config.PROJECT.email }}">{{ config.PROJECT.email }}</a>
            </p>

            <p>
              <i class="fas fa-globe-americas"></i>
              <a href="{{ '/'|url(alt=this.alt, external=true) }}">humberto.io</a>
            </p>

            <p>
              <i class="fab fa-github"></i>
              <a href="https://github.com/{{ config.PROJECT.github }}/">{{ config.PROJECT.github }}</a>
            </p>

            <p>
              <i class="fab fa-linkedin-in"></i>
              <a href="https://linkedin.com/in/{{ config.PROJECT.linkedin }}/">{{ config.PROJECT.linkedin }}</a>
            </p>
          </div>

          <div class="col-12 section">
            <h2>{{ bag('translation', this.alt, 'languages') }}</h2>

            {{ this.languages }}
          </div>

          <div class="col-12 section">
            <h2>{{ bag('translation', this.alt, 'tech_skills') }}</h2>

            {{ this.tech_skills }}
          </div>

          <div class="col-12 section pr-md-5">
            <h2>{{ bag('translation', this.alt, 'soft_skills') }}</h2>

            {{ this.soft_skills }}
          </div>

          <div class="col-12 section">
            <h2>{{ bag('translation', this.alt, 'open_source') }}</h2>

            {{ this.open_source }}
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 order-0 order-md-1">
        <div class="row">
          <div class="col-12 border-left section">
            <h2>{{ bag('translation', this.alt, 'profile') }}</h2>

            {{ this.profile }}
          </div>

          <div class="col-12 border-left section">
            <h2>{{ bag('translation', this.alt, 'employment') }}</h2>

            {{ this.employment }}
          </div>

          <div class="col-12 border-left section">
            <h2>{{ bag('translation', this.alt, 'education') }}</h2>

            {{ this.education }}
          </div>

          <div class="col-12 border-left section">
            <h2>{{ bag('translation', this.alt, 'community') }}</h2>

            {{ this.community }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
