<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- SEO tags -->
    <link rel="alternate" href="{{ '.'|url(external=true) }}" hreflang="pt-br" />

    <title>{% block title %}Blog{% endblock %} —  Humberto Rocha</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/static/css/website.css'|url }}">
    <!-- pygments -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  </head>

  <body>
    {% block body %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <header>
              <a href="{{ '/'|url }}" class="hidden-xs-down">
                <img class="rounded-circle" src="http://www.gravatar.com/avatar/9b980649495021f77c36912c090a5a1d?s=100" alt="Humberto Rocha">
              </a>

              <h1>
                <a href="{{ '/'|url }}">HUMBERTO ROCHA</a>
              </h1>

              <p>Cientista da Computação, pythonista e curioso</p>
            </header>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="page">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>

      <div class="footer-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <footer>
                <div class="row">
                  <div class="col-xs-12">
                    <span class="icons">
                      <a href="https://github.com/humrochagf"><i class="fa fa-github"></i></a>
                      <a href="https://twitter.com/humrochagf"><i class="fa fa-twitter"></i></a>
                      <a href="https://br.linkedin.com/in/humrochagf"><i class="fa fa-linkedin"></i></a>
                      <a href="{{ '/feed.xml'|url }}"><i class="fa fa-feed"></i></a>
                      <a href="mailto:humrochagf@gmail.com"><i class="fa fa-envelope"></i></a>
                    </span>

                    <p>&copy; Copyright 2016 by Humberto Rocha.</p>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ '/static/js/tether.min.js'|url }}"></script>
    <script src="{{ '/static/js/bootstrap.min.js'|url }}"></script>

    <div class="ga-script">{{ generate_google_analytics() }}</div>
  </body>
</html>
