<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62093919-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62093919-2');
    </script>

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="https://humberto.io/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://humberto.io/favicon-16x16.png" sizes="16x16" />

    <!-- SEO tags -->
    <link rel="canonical" href="{{ '.'|url(external=true) }}" />
    <link rel="alternate" href="{{ '.'|url(external=true) }}" hreflang="pt-br" />

    <!-- General -->
    <meta name="description" content="{{ this.summary|default('Um blog para programadores e interessados em conteúdo sobre automação, frontend, backend, python, devops, javascript, desenvolvimento de jogos e muito mais.') }}" />
    <meta name="author" content="Humberto Rocha" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google+ -->
    <meta itemprop="name" content="{{ this.title|default('Humberto Rocha') }}" />
    <meta itemprop="description" content="{{ this.summary|default('Um blog para programadores e interessados em conteúdo sobre automação, frontend, backend, python, devops, javascript, desenvolvimento de jogos e muito mais.') }}" />
    {% if this.share_image %}
      <meta itemprop="image" content="{{ this.share_image|url(external=True) }}" />
    {% else %}
      <meta itemprop="image" content="https://www.gravatar.com/avatar/9b980649495021f77c36912c090a5a1d?s=200" />
    {% endif %}

    <!-- Facebook -->
    <meta property="og:site_name" content="Humberto Rocha" />
    <meta property="og:title" content="{{ this.title|default('Humberto Rocha') }}" />
    <meta property="og:description" content="{{ this.summary|default('Um blog para programadores e interessados em conteúdo sobre automação, frontend, backend, python, devops, javascript, desenvolvimento de jogos e muito mais.') }}" />
    <meta property="og:url" content="{{ '.'|url(external=true) }}" />
    <meta property="og:type" content="article" />
    {% if this.share_image %}
      <meta property="og:image" content="{{ this.share_image|url(external=True) }}" />
    {% else %}
      <meta property="og:image" content="https://www.gravatar.com/avatar/9b980649495021f77c36912c090a5a1d?s=200" />
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:url" content="{{ '.'|url(external=true) }}" />
    <meta name="twitter:site" content="@humrochagf" />
    <meta name="twitter:creator" content="@humrochagf" />
    <meta name="twitter:title" content="{{ this.title|default('Humberto Rocha') }}" />
    <meta name="twitter:description" content="{{ this.summary|default('Um blog para programadores e interessados em conteúdo sobre automação, frontend, backend, python, devops, javascript, desenvolvimento de jogos e muito mais.') }}" />
    {% if this.share_image %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="{{ this.share_image|url(external=True) }}" />
    {% else %}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="https://www.gravatar.com/avatar/9b980649495021f77c36912c090a5a1d?s=120" />
    {% endif %}

    <!-- json-ld -->
    {% block json_ld %}
    {% endblock %}

    <!-- Page title -->
    <title>{% block title %}Blog{% endblock %} - Humberto Rocha{% if not this.title %} - Cientista, pythonista e curioso{% endif %}</title>

    <!-- pygments -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- styles -->
    <link rel="stylesheet" href="{{ '/styles/main.min.css'|url }}" type="text/css" media="all" />
  </head>

  <body>
    {% block body %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <header>
              <a class="header-photo" href="{{ '/'|url }}">
                <img class="rounded-circle" src="https://www.gravatar.com/avatar/9b980649495021f77c36912c090a5a1d?s=100" alt="Humberto Rocha">
              </a>

              <h1>
                <a href="{{ '/'|url }}">HUMBERTO ROCHA</a>
              </h1>

              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="{{ '/me'|url }}">Sobre</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" href="{{ '/projects'|url }}">Projetos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ '/blog'|url }}">Blog</a>
                </li>
              </ul>
            </header>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="mx-auto col-md-8 col-sm-12">
            <div class="page">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>

      <div class="footer-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <footer>
                <div class="row">
                  <div class="col-12">
                    <span class="icons">
                      <a href="https://github.com/humrochagf"><i class="fa fa-github"></i></a>
                      <a href="https://twitter.com/humrochagf"><i class="fa fa-twitter"></i></a>
                      <a href="https://br.linkedin.com/in/humrochagf"><i class="fa fa-linkedin"></i></a>
                      <a href="{{ '/feed.xml'|url }}" target="_blank"><i class="fa fa-feed"></i></a>
                      <a href="mailto:humrochagf@gmail.com"><i class="fa fa-envelope"></i></a>
                    </span>
                  </div>

                  <div class="col-12">
                    <a class="image-host" href="https://configr.com/?utm_source=humberto&utm_content=blog-footer"></a>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    <!-- app code -->
    <script src="{{ '/scripts/main.min.js'|url }}" async></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad8f2e22f59cc18" async></script>
  </body>
</html>
