<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ this.alt }}">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62093919-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62093919-2');
    </script>

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ '/images/favicon-32x32.png'|url(external=True) }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/images/favicon-16x16.png'|url(external=True) }}" sizes="16x16" />

    <!-- SEO tags -->
    <link rel="canonical" href="{{ '.'|url(alt='pt-br', external=true) }}" />

    {% for alt in get_alts(this) %}
      <link rel="alternate" href="{{ '.'|url(alt=alt, external=true) }}" hreflang="{{ alt }}" />
    {% endfor %}

    <!-- General -->
    <meta name="description" content="{{ this.summary|default(bag('translation', this.alt, 'website_description')) }}" />
    <meta name="author" content="{{ config.PROJECT.author }}" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google+ -->
    <meta itemprop="name" content="{{ this.title|default(config.PROJECT.name) }}" />
    <meta itemprop="description" content="{{ this.summary|default(bag('translation', this.alt, 'website_description')) }}" />
    {% if this.share_image %}
      <meta itemprop="image" content="{{ this.share_image|url(external=True, alt='pt-br') }}" />
    {% else %}
      <meta itemprop="image" content="{{ config.PROJECT.logo|url(external=True) }}" />
    {% endif %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.PROJECT.name }}" />
    <meta property="og:title" content="{{ this.title|default(config.PROJECT.name) }}" />
    <meta property="og:description" content="{{ this.summary|default(bag('translation', this.alt, 'website_description')) }}" />
    <meta property="og:url" content="{{ '.'|url(external=true) }}" />
    <meta property="og:type" content="article" />
    {% if this.share_image %}
      <meta property="og:image" content="{{ this.share_image|url(external=True, alt='pt-br') }}" />
    {% else %}
      <meta property="og:image" content="{{ config.PROJECT.logo|url(external=True) }}" />
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:url" content="{{ '.'|url(external=true) }}" />
    <meta name="twitter:site" content="@{{ config.PROJECT.twitter }}" />
    <meta name="twitter:creator" content="@{{ config.PROJECT.twitter }}" />
    <meta name="twitter:title" content="{{ this.title|default(config.PROJECT.name) }}" />
    <meta name="twitter:description" content="{{ this.summary|default(bag('translation', this.alt, 'website_description')) }}" />
    {% if this.share_image %}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="{{ this.share_image|url(external=True, alt='pt-br') }}" />
    {% else %}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="{{ config.PROJECT.logo|url(external=True) }}" />
    {% endif %}

    <!-- json-ld -->
    {% block json_ld %}
    {% endblock %}

    <!-- Page title -->
    <title>{% block title %}Blog{% endblock %} - {{ config.PROJECT.name }}{% if not this.title %} - {{ bag('translation', this.alt, 'website_title') }}{% endif %}</title>

    <!-- pygments -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- styles -->
    <link rel="stylesheet" href="{{ '/styles/main.min.css'|url }}" type="text/css" media="all" />
  </head>

  <body>
    {% block body %}
      <div class="container">
        <div class="row">
          <div class="mx-auto col-md-8 col-sm-12">
            <ul class="nav justify-content-end alternatives">
              {% for alt in get_alts(this) %}
                {% if alt != this.alt %}
                  <li><a href="{{ '.'|url(alt=alt) }}">{{ alt }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          <div class="col-12">
            <header>
              <a class="header-photo" href="{{ '/'|url }}">
                <img class="rounded-circle" src="{{ config.PROJECT.logo_100|url }}" alt="Humberto Rocha">
              </a>

              <h1>
                <a href="{{ '/'|url }}">{{ config.PROJECT.name.upper() }}</a>
              </h1>

              <ul class="nav justify-content-center">
                {% for path, label in bag('navigation', this.alt).items() %}
                  <li class="nav-item">
                    <a class="nav-link{% if this.is_child_of(path) %} active{% endif %}" href="{{ path|url }}">{{ label }}</a>
                  </li>
                {% endfor %}
              </ul>
            </header>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="mx-auto col-md-8 col-sm-12">
            <div class="page">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>

      <div class="footer-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <footer>
                <div class="row">
                  <div class="col-12">
                    <span class="icons">
                      <a href="https://github.com/{{ config.PROJECT.github }}/"><i class="fa fa-github"></i></a>
                      <a href="https://twitter.com/{{ config.PROJECT.twitter }}/"><i class="fa fa-twitter"></i></a>
                      <a href="https://br.linkedin.com/in/{{ config.PROJECT.linkedin }}/"><i class="fa fa-linkedin"></i></a>
                      <a href="{% if this.alt == 'en' %}{{ '/en/feed.xml'|url(external=true) }}{% else %}{{ '/feed.xml'|url(external=true) }}{% endif %}" target="_blank"><i class="fa fa-feed"></i></a>
                      <a href="mailto:{{ config.PROJECT.email }}"><i class="fa fa-envelope"></i></a>
                    </span>
                  </div>

                  <div class="col-12">
                    <a class="image-host-{{ this.alt }}" href="https://configr.com/?utm_source=humberto&utm_content=blog-footer"></a>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    <!-- app code -->
    <script src="{{ '/scripts/main.min.js'|url }}" async></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad8f2e22f59cc18" async></script>
  </body>
</html>
