header {
  padding-top: 30px;
  text-align: center;

  h1 {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.8rem;
  }

  .rounded-circle {
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 5px solid $black;
  }

  @include media-breakpoint-down(sm) {
    .header-photo {
      display: none;
    }
  }

  .nav {
    a {
      border-bottom: 1px solid gray("400");

      &:hover, &:focus, &:active, &.active {
        border-bottom: 1px solid $black;
      }
    }
  }
}

.alternatives {
  li {
    background-color: $black;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

    a {
      display: block;
      padding: 0 10px 5px;
      color: $white;
      font-weight: 800;
    }
  }
}
